/*
  Note: please don't try and use this... but...
  Combining multiple .css files... it would load in order of importing...
  for e.g.
  index.js....
  you import app.js first... which loads...
  which imports app.css...

  lets say app.js loads two things... (branching out...)
  two components. hello and goodbye...
  hello (and presumably hello.css and then hello's dependencies
  then dependencies.css...) get all loaded first....
*/

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
